.dark{
    --background: #0a0a0a;
	--textColor: white;
	--moon: #828282;
	--moonHover: #00ffaf;
	--moonShadow: none;
	--walletText: white;
}
.light{
    --background: white;
	--textColor: black;
	--moon: #707070;
	--moonHover: black;
	--moonShadow: 0 0 5px purple;
	--walletText: white;
}

body,html{
    font-size: 20px;
    background-color: var(--background);	
    color: var(--textColor);
    margin: 0;
}

a{
	outline: none;
	text-decoration: none;
	color: inherit;
}

.backImage{
    width: 70%;
	padding-left: 5%;
}

.backImage img{
	width: 100%;
}

.backgroundBlur{
	position: absolute;
	width: 100%;
	height: 100%;
	filter: blur(100px);
	z-index: 1;
	display: flex;
    align-items: center;
    justify-content: center;
}

.background{
	width: 40%;
    height: 30%;
    transform: translate(40%, 90%);
    background: #00fffff7;
}

.background2{
	width: 40%;
    height: 30%;
    transform: translate(115%, 90%);
	background: #ff0000c7;
}

.main{
	position: relative;
	z-index: 10;
}

.navbar{
    display: flex;
    height: 3rem;
    align-items: center;
	justify-content: space-between;
	margin: 0 3%;
}

.navbar .navMenu{
    z-index: 6;
}

.navbar .logo{
	font-size: 1.8rem;
	width: 25%;
	
}

.navbar .logo span{
	background: linear-gradient(17deg, #f600ff, aqua, #f600ff);
	background-size: 100%; /*Pripadne rozdelit na vic stejnych sekci: 25% = na kazde 2 pismena*/
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.navbar .user{
    text-align: right;
	width: 25%;
}

.wallet{
	border: 3px solid transparent;
    padding: 5px 10px;
    border-radius: 10px;
	background: linear-gradient(45deg, #3a004e, #017469, #3a004e), linear-gradient(197deg, aqua, #f600ff, aqua);
	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
	cursor: pointer;
	box-sizing: border-box;
	color: var(--walletText);
}

.wallet:hover{
	background: linear-gradient(45deg, #1a002e, #005449, #1a002e), linear-gradient(197deg, aqua, #f600ff, aqua);
	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
}

.wallet:active{
	background: linear-gradient(45deg, #0a001e, #004439, #0a001e), linear-gradient(197deg, #00dfdf, #d600df, #00dfdf);
	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
	/*border-width: 1px;
	padding: 7px 12px;*/
}

.moon{
	cursor: pointer;
	margin-right: 20px;
	color: var(--moon);
}
.moon:hover{
	color: var(--moonHover);
	text-shadow: var(--moonShadow);
}

.moon i{
	vertical-align: text-bottom;
	background: linear-gradient(45deg, #be00ff, #00ffe6, #be00ff);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.menu{
	wdith: 50%;
}

.menuItem{
    margin-top: 0.5rem;
    display: block;
}